
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<text>
    This page requires you to grant additional permissions to the app. Click <a href="@ViewBag.AuthorizationRequest">here</a> to be redirected to the consent experience.
</text>