<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@using Resources;


@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<text>
    @if (ViewBag.AuthorizationRequest != null) { string urlString = Resource.ConsentLink.Replace("URL", ViewBag.AuthorizationRequest); @Html.Raw(urlString) } else { @Resource.NoConsentRequired}
</text>