<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

@using Microsoft.Graph

@model IEnumerable<Group>

<div class="list-group">
  @foreach (var group in Model)
  {
    <a asp-action="Display" asp-route-teamId="@group.Id" class="list-group-item list-group-item-action">@group.DisplayName</a>
  }
</div>
