<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

@model IEnumerable<Microsoft.Graph.User>

@{
    ViewData["Title"] = "Admin list users";
}

<div class="list-group">
  @foreach (var user in Model)
  {
    <div class="list-group-item">
      <div class="d-flex">
        <div class="flex-grow-1"><span class="align-middle">@user.DisplayName</span></div>
        <a asp-action="Display" asp-route-userId="@user.Id" class="btn btn-secondary btn-sm mr-2">Display</a>
        <form asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete @user.DisplayName?');">
          <input type="hidden" name="userId" value="@user.Id">
          <input type="submit" value="Delete" class="btn btn-secondary btn-sm">
        </form>
      </div>
    </div>
  }
</div>
