<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@using Resources;

@model Microsoft_Graph_ASPNET_Snippets.Models.ResultsViewModel

<div class="col-md-12">
    <h3>Results:</h3>
    <div class="col-md-12">
        @if (Model != null)
        {
            if (Model.Items.Any())
            {
                foreach (var item in Model.Items)
                {
                    if (Model.Selectable)
                    {
                        <label>
                            <input type="radio" name="items" value=@item.Id onclick="onSelectedItemChanged()" />
                            &nbsp;@item.Display
                        </label><br />
                    }
                    if (item.Properties.Count > 0)
                    {
                        <table id="entity">
                            @foreach (var property in item.Properties)
                            {
                                <tr>
                                    @if (property.Key != "Stream")
                                    {
                                        <td class="pad">@property.Key</td>
                                        <td>@property.Value</td>
                                    }
                                    else if (property.Value != null)
                                    {
                                        <td><img src="@String.Format("data:image;base64,{0}", Convert.ToBase64String(property.Value as byte[]))" /></td>
                                    }
                                </tr>
                            }
                        </table>
                        <br />
                    }
                }
            }
            else
            {
                <p>@Resource.No_Results</p>
            }
        }
        <br />
    </div>
</div>
